.table {
    width: 85%;
    margin: 50px auto;
}

.my-pagination /deep/ .ngx-pagination .current {
    background:gray;
  }
  .my-pagination /deep/.pagination-previous a::before,
  .my-pagination /deep/.pagination-previous.disabled::before,
  .my-pagination /deep/.pagination-next a::after,
  .my-pagination /deep/.pagination-next.disabled::after { 
    content: '' !important; 
  }
  
  /* .my-pagination {
    margin-top: 50px;
  } */



  /* ------------ 5 stars rating * * * * * ------------ */

  .stars-outer {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
  }
   
  .stars-outer::before {
    content: "\f006 \f006 \f006 \f006 \f006";
  }
   
  .stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
  }
   
  .stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: #f8ce0b;
  }

  