.my-footer-text {
    font-size: 13px;
    color: grey;
    margin: 0;
    padding: 0;
}

.my-footer-name {
    font-size: 14px;
    padding-left: 12px;
    padding-right: 14px;
}

.navbar-nav {
    position: fixed;
    right: 5px;
}

#created-by {
    position: absolute;
    right: 140px;
}
