
<div class="media mb-4" *ngFor="let review of book.reviews">
    <img id="user-icon" class="d-flex mr-3 rounded-circle" src="../assets/user-icons/user-icon.svg" alt="">
    <div class="media-body">
      <a class="h5" (click)="selectUser(review.author.id)"
        *ngIf="!review.author.isDeleted">{{review.author.username}}</a>
      <div class="h5 text-danger" *ngIf="review.author.isDeleted">DELETED</div>
      <hr>
      {{review.timestamp | date:"short"}}
      <hr>
      {{review.ratingType}}
      <hr>
      {{review.comment}}
      <hr>
      <button *ngIf="showButtons(review.author.id) && !isBanned" type="button" class="btn btn-outline-dark  "
        (click)="open(content)">Edit</button>
      <button *ngIf="showButtons(review.author.id) && !isBanned" type="button" class="btn btn-outline-dark  "
        (click)="deleteReview(review.id)">Delete</button>
  
  
      <!-- Modal -->
      <ng-template #content let-modal let-c="close" let-d="dismiss">
        <div class="modal-header">
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">      <!-- "d('Cross click')" -->
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
  
        <div class="card my-4">
          <h5 class="card-header">Edit your review:</h5>
          <div class="card-body">
            <form>

              <div class="form-group">
                <label data-error="wrong" data-success="right" for="form32">Rate from 1 to 5:</label>
                <textarea class="form-control" rows="3" #ratingTypeInput required minlength="1">{{review.ratingType}}</textarea>
              </div>

              <!---->
              <div class="form-group">
                <label data-error="wrong" data-success="right" for="form32">Leave your comment:</label>
                <textarea class="form-control" rows="3" #commentInput required minlength="1">{{review.comment}}</textarea>
              </div>
              <!---->

            </form>
          </div>

          <div *ngIf="ratingTypeInput.minlength">
            You must rate the book!
          </div>
          <div *ngIf="commentInput.minlength">
            The comment must be at least 1 characters long.
          </div>

          <!--  -->
          <div class="modal-footer">
              <button type="submit" class="btn btn-outline-dark"
                (click)="editReview(review.id, ratingTypeInput.value.toString(), commentInput.value.toString())">Save</button>
          </div>
          <label style="color:green;">{{successMessage}}</label>      <!-- ! -->
          <!--  -->


        </div>
      </ng-template>
      <!-- Modal -->
  
    </div>
  </div>
  

