#user-icon {
    height: 40px;
  }
  
  button {
    float: right;
    margin-left: 3px;
    margin-right: 3px;
  }
  
  .modal-title {
    font-size: 24px;
    /* align-items: center; */
  }
  
#click-on-user:hover {
  color: cornflowerblue;
}

.ratingStars {
  color: grey;
  font-size: 14px;
}
