#isFree {
    font-size: 21px;
    text-transform: lowercase;
    font-weight: initial;
    /* color: #00cc00; */
    color: #0be683;
    float: right;
    margin-top: 25px;
    margin-right: 20px;
}

#isTaken {
    font-size: 21px;
    text-transform: lowercase;
    font-weight: initial;
    color: #ff4000;
    float: right;
    margin-top: 25px;
    margin-right: 20px;
}

#takeBookButton {
    margin-left: 20px;
    /* float: right; */
}

#returnBookButton {
    margin-left: 20px;
}

#successMessageLabel {
    margin-left: 10px;
}

#review-title {
    text-align: center;
    /* text-decoration: underline; */
    margin-top: 50px;
}

#outOfFive {
    color: grey;
    font-size: 18px;
    /* font-style: italic; */
    font-weight: lighter;
}


.bookinfotitle {
    font-size: 16px;
    /* font-style: italic;
    font-weight: thin; */
}

.bookinfodata {
    font-size: 23px;
}

#bookinfotable tr td{
    padding: 10px;
}

#booktitleid {
    margin-left: 23px;
}

#noReviewsForThatBook {
    color: grey;
    font-size: 14px;
    /* font-style: italic; */
    font-weight: lighter;
}



/* ------- stop footer from overlapping the content above: -------- */
#wrap {
    min-height: 100%;
}

#main {
    overflow:auto;
    padding-bottom: 100px; /* this needs to be bigger than footer height*/
}

