<div   id="wrap"   class="container" *ngIf="book">
    <div    id="main"    class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <h1 id="booktitleid" class="mt-4 text-capitalize">
          <span class="oi oi-lock-locked"></span> {{book.title}} 
          <span *ngIf="!book.isTaken;" id="isFree">available</span>
          <span *ngIf="book.isTaken;" id="isTaken">taken</span>
        </h1>
        <div class="row">
        </div>
        <hr>

        <table id="bookinfotable">
          <tr>
              <td class="bookinfotitle lead">rating:</td>
              <td class="bookinfodata lead">{{book.averageRating}} 
                <span *ngIf=isThereAverageRating(book.averageRating)>  (out of 5)</span>
                <span id="noReviewsForThatBook" *ngIf=!isThereAverageRating(book.averageRating)> no reviews yet ☹️ </span>
              </td>  
          </tr>
          <tr>
              <td class="bookinfotitle lead">author:</td>
              <td class="bookinfodata lead">{{book.author}}</td>
          </tr>
          <tr>
              <td class="bookinfotitle lead">topic:</td>
              <td class="bookinfodata lead">{{book.topic}}</td>
          </tr>
          <tr>
              <td class="bookinfotitle lead">language:</td>
              <td class="bookinfodata lead">{{book.language}}</td>
            </tr>
        </table>

        <!-- <p class="lead"><span class="bookinfotitle" >rating: </span> {{book.averageRating}} (out of 5)</p>
        <p class="lead"><span class="bookinfo">author: </span> {{book.author}}</p>
        <p class="lead"><span class="bookinfo" >topic: </span> {{book.topic}}</p>
        <p class="lead"><span class="bookinfo" >language: </span> {{book.language}}</p> -->
        
        <!-- <p>{{book.isTaken}}</p> -->
  
        <hr>
        
        
        <button *ngIf="showEditButton" type="button" class="btn btn-outline-dark mr-1"
          (click)="open(content)">Edit the Book</button>
        <button *ngIf="showDeleteButton" type="button" class="btn btn-outline-danger mr-1"
          (click)="deleteBook()">Delete the Book</button>
  

        


        <!-- Modal -->
        <ng-template #content let-modal let-c="close" let-d="dismiss">
          
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Edit Book</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">   <!-- "d('Cross click')" -->
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="md-form mb-5">
            <label data-error="wrong" data-success="right" for="form29">title</label>
            <textarea #titleInput type="text" id="form29" class="form-control validate"
              required="required">{{title}}</textarea>
          </div>

          <div class="md-form mb-5">
            <label data-error="wrong" data-success="right" for="form32">author</label>
            <textarea #authorInput type="text" id="form32" class="form-control validate"
              required="required">{{author}}</textarea>
          </div>

          <div class="md-form">
            <label data-error="wrong" data-success="right" for="form8">topic</label>
            <textarea #topicInput type="text" id="form8" class="md-textarea form-control" rows="4"
              required="required">{{topic}}</textarea>
          </div>

          <div class="md-form">
              <label data-error="wrong" data-success="right" for="form41">language</label>
              <textarea #languageInput type="text" id="form41" class="md-textarea form-control" rows="4"
                required="required">{{language}}</textarea>
            </div>

          <div class="modal-footer">
            <button type="submit" class="btn btn-outline-dark"
              (click)="updateBook(titleInput.value,authorInput.value,topicInput.value,languageInput.value)">Save</button>
          </div>

          <label style="color:green;">{{successMessage}}</label>
        </ng-template>
        <!-- Modal -->

  
        <hr *ngIf="showEditButton">
  


        <!--  -->
        <!-- take book -->
        <button *ngIf="!book.isTaken" type="button" id="takeBookButton" class="btn btn-outline-success mr-1"
          (click)="takeBook('Taken')">Take the Book</button>

        <!-- return book -->
        <button *ngIf="hasRightToReturnTheBook" type="button" id="returnBookButton" class="btn btn-outline-warning mr-1"
          (click)="takeBook('Returned')">Return the Book</button>
        <!--  -->
        
        <label id="successMessageLabel" style="color:#56b0d1;">{{successMessage}}</label>

        <hr *ngIf="!book.isTaken">
        <!-- <hr *ngif="authorizedToReturn"> -->




        <br />
        <p id="review-title" class="h4">Reviews</p>
        <br />

        <app-view-reviews [book]="book" (deletedReviewEvent)="ngOnInit()" (editedReviewEvent)="ngOnInit()">
        </app-view-reviews>

        <hr>
  
        <app-create-reviews [bookId]="book.id" (reviewCreatedEvent)="reviewCreated()" *ngIf="!book.isLocked && !isBanned">
        </app-create-reviews>
  

      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
  <router-outlet></router-outlet>
  