<div class="card my-4">
    <h5 class="card-header">Leave a Review</h5>

    <div class="card-body">
      <form>
        
        <div class="form-group">
          <label data-error="wrong" data-success="right" for="form29">How was the book?</label>
          <form class="radio">
            <input (click)="setRadioButtonValue(1)" type="radio" name="rating"> Very Bad<br>
            <input (click)="setRadioButtonValue(2)" type="radio" name="rating"> Poor<br>
            <input (click)="setRadioButtonValue(3)" type="radio" name="rating"> OK<br>
            <input (click)="setRadioButtonValue(4)" type="radio" name="rating"> Good<br>
            <input (click)="setRadioButtonValue(5)" type="radio" name="rating"> Excellent
          </form>
          <br>
        </div>

        
        <div class="form-group">
          <label data-error="wrong" data-success="right" for="form29">Comment:</label>
          <textarea #commentInput class="form-control" type="text" rows="3" required minlength="1"></textarea>
        </div>

        <div class="btn btn-outline-secondary my-2 my-sm-0  ml-auto" (click)="createReview(radioButtonValue, commentInput.value);
          commentInput.value=''">
          Submit</div>

        <label id="successMessageLabel" style="color:#56b0d1;">{{successMessage}}</label>

      </form>
    </div>
  </div>
  